@{
  Layout = "_Layout";
}

<div class="main-container">
  <h2>Welcome to Manager Panel</h2>
  <hr />
  <br>
  @if (User.Identity.IsAuthenticated)
  {
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-primary" value="Log out" />
    }
  }
  else
  {
    @Html.ActionLink("Register", "Register")
    <p> or </p>
    @Html.ActionLink("Log in", "Login")
  }
</div>