<div class="header-section">
  <div>
    <h2>Pierre's Sweet and Savory Treats</h2>
    <h3>Manager Panel</h3>
  </div>

  <div class="account-bar">
    <p>Welcome:</p>
    @if (User.Identity.IsAuthenticated)
    {
      @User.Identity.Name
        
    }
  </div>
</div>