<div class="nav-section">
  @Html.ActionLink("Home page", "Index", "Home")
  @Html.ActionLink("Manage Treats", "Index", "Treats")
  @Html.ActionLink("Manage Flavors", "Index", "Flavors")
  @Html.ActionLink("Account", "Index", "Account")
</div>